#fancybackground {
    background-color: #4285f4;
    background-image: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8) 100px,
            transparent 0px,
            transparent 200px
    ),
    repeating-linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5) 100px,
            transparent 0px,
            transparent 200px
    );
}

#breathe {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite alternate;
}

@keyframes pulse {
    0% {
        background-color: #ffffff;

    }
    100% {
        background-color: #e5e5e5;

    }
}